@model Avonford_Secondary_School.Models.ViewModels.DriverFormVM
@{
    ViewBag.Title = "Edit Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Driver</h2>
@Html.Partial("_DriverForm", Model)
